/* colors */
.bg-egypt-blue {
  background-color: #0d28a6;
}
.text-egypt-blue {
  color: #0d28a6;
}
.bg-deep-sapphire {
  background-color: #091b6f;
}
.text-deep-sapphire {
  color: #091b6f;
}
/* components */
.btn-egypt-blue {
  background-color: #0d28a6;
}
.btn-egypt-blue:hover {
  background-color: #061e8a;
}
.btn-outline-egypt-blue {
  border-color: #0d28a6;
}
.btn-outline-egypt-blue:hover {
  background-color: #061e8a;
  color: white;
}
/* font */
body {
  font-family: "Helvetica", "Arial", sans-serif;
}

.body-10-light {
  font-weight: 300;
  font-size: 10px;
  line-height: 14px;
}
.body-10-reguler {
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
}
.body-10-bold {
  font-weight: 700;
  font-size: 10px;
  line-height: 14px;
}
.body-12-light {
  font-weight: 300;
  font-size: 12px;
  line-height: 18px;
}
.body-12-reguler {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
}
.body-12-bold {
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
}
.body-14-light {
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
}
.body-14-reguler {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}
.body-14-bold {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
}
.title-16-light {
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
}
.title-16-reguler {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.title-16-bold {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}
.title-18-light {
  font-weight: 300;
  font-size: 18px;
  line-height: 26px;
}
.title-18-reguler {
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
}
.title-18-bold {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}
.heading-20-light {
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
}
.heading-20-reguler {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}
.heading-20-bold {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
}
.heading-24-light {
  font-weight: 300;
  font-size: 24px;
  line-height: 36px;
}
.heading-24-reguler {
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
}
.heading-24-bold {
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
}

/* font */

/* mobile */

.navbar-aliceblue {
  background-color: #f1f3ff;
}
.nav-link__register {
  padding: 10px 15px;
  background-color: #5cb85f;
  border-radius: 3px;
  font-weight: bold;
}

.btn-success {
  background-color: #5cb85f;
  border-color: #5cb85f;
  font-weight: bolder;
  border-radius: 3px;
}
.nav-link__register:hover {
  background-color: #308d33;
}

.hero-aliceblue {
  background-color: #f1f3ff;
}

.hero-title {
  font-size: 36px !important;
  line-height: 54px !important;
}

.hero__left {
  width: 90%;
}

.hero__right-img {
  /* z-index: 99; */
  /* /* position: absolute; */
  position: relative;
  left: 50%;
  right: 50%;
  top: 50%;
  bottom: 50%;
  transform: scaleX(-1) translateX(50%) translateY(-50%);
  /* transform: scaleX(-1); */
  width: 80%;
  z-index: 1;
}

.hero__right-box {
  background-color: #0d28a6;
  height: 50%;
  border-radius: 20px 0 0 0;
  position: absolute;
  width: 100%;
  left: 0;
  /* right: 0; */
  bottom: 0;
  /* top: auto; */
  z-index: 0;
}

.our-section__right-list > li > svg {
  background-color: #f1f3ff;
  border-radius: 50%;
  font-size: 10px;
  padding: 3px;
  color: #0d28a6;
}

.card {
  padding: 24px;
  border: 1px solid #d0d0d0;
  border-radius: 8px;
  width: 100%;
  height: 100%;
}

.carousel-card {
  /* height: 300px; */
  width: 100%;
  background-color: #f1f3ff;
  border-radius: 8px;
  display: flex;
  margin-right: 20px;
  flex-direction: column;
}

.carousel-card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.carousel-card-rating {
  text-align: center;
  margin: 1em 0;
}
.carousel-card-content-picture {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-nav {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 1.5em;
}

.cursor {
  cursor: pointer;
}
.cta-banner {
  border-radius: 13px;
  /* height: 326px; */
  background-color: #0d28a6;
}

.sosmed-icons {
  width: 90%;
  display: flex;
  gap: 1em;
}

.copyright-logo {
  width: 40%;
  height: 34px;
  background-color: #0d28a6;
}
/* tab */
@media screen and (min-width: 576px) {
  .w-md-75 {
    width: 75% !important;
  }
  .owl-nav {
    gap: 20px;
  }
  .sosmed-icons {
    gap: none;
    justify-content: space-between;
  }
  .carousel-card {
    height: 300px;
    flex-direction: row;
  }
  .carousel-card-content {
    width: 70%;
  }
  .carousel-card-rating {
    text-align: left;
  }
  .carousel-card-content-picture {
    width: 30%;
  }
}

/* cars */
.card-img-car {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.form-cari-shadow {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
}

.card-shadow-car {
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.15);
}

.jumlah-icon {
  /* position: absolute;
  right: 0.5rem;
  bottom: 0.3rem; */
  margin-left: -1.75rem;
  z-index: 2;
}

.form-control:focus {
  border: 1px solid #5cb85f;
  box-shadow: none;
}
.form-select:focus {
  border: 1px solid #5cb85f;
  box-shadow: none;
}
/* desktop */
@media screen and (min-width: 992px) {
  .hero {
    height: 416px;
  }

  .position-lg-relative {
    position: relative;
  }

  .form-cari {
    background: white;
    margin-top: -3rem;
    z-index: 99;
    position: relative;
  }
}

.image-login {
  width: 100%;
  height: 100dvh;
  object-fit: cover;
}

/* admin dashboard */
.admin-header {
}
.top-nav {
  z-index: 10;
  height: 70px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.side-nav {
  position: absolute;
  padding-top: 70px;
  width: 70px;
  height: 100dvh;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 9;
}
.side-nav-link {
  text-decoration: none;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-size: 12px;
  line-height: 18px;
  font-weight: 300px;
}
.side-nav-link:hover {
  background-color: #cfd4ed;
}
.side-nav-link.active {
  background-color: #cfd4ed;
  font-weight: 700px;
}

.sidebar-content-wrapper {
  z-index: 1;
  position: relative;
  width: 100%;
  height: 100dvh;
}
.side-bar {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 220px;
  margin-left: 70px;
  margin-top: 70px;
  z-index: 2;
}

.menu-heading {
}
.sub-menu-heading {
  background-color: #cfd4ed;
}

.content {
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding-top: 90px;
  padding-left: 310px;
  padding-right: 20px;
  background-color: #e5e5e5;
}

.breadcrumb {
  --bs-breadcrumb-divider: ">";
}
